/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
<<<<<<< HEAD
  background-color: #fafafa;;
=======
  background-color: #f6f6f6;
  letter-spacing: 2px;
>>>>>>> 7d312d5f4eacc0ace14fc023609d8ecb40182591
}
