.user-input-wrp {
	position: relative;
	width: 50%;
}
.user-input-wrp .inputText{
	width: 400px;
    height: 40px;
    background-color: #f6f6f6;
    border: 0.5px solid;
	outline: none;
 	
    opacity: 0.5;
}
.user-input-wrp .inputText:focus{
	border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 8px;
	left: 10px;
	transition: 0.2s ease all;
    opacity: 0.7;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: -12px;
    padding: 2px;
    background-color: #fff;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

input{
	width: 400px;
	border-radius: 0;
	background-color: #fafafa;
}


.floating-span{
	position: absolute;
	pointer-events: none;
	top: 10px;
	font-size: 12px;
	left: 259px;
	transition: 0.2s ease all;
    opacity: 0.7;
	width: 150px;
}

/* form button{
	width: 400px;
	border-radius: 0%;
} */

input:valid{
	background-color: rgb(232, 240, 254) !important;
}

a{
	color: black;
    text-decoration: none;
}
a:hover{
	opacity: 0.5;
}

form .loginBtn {
    display: inline-block;
    text-align: center;
	width: 400px;
    color: white;
    background: black; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, black 50%, white 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
form .loginBtn:hover {
    background-position: left;
	color: black;
}

.loginBtn button{
	color: #fff;
	width: 400px;
	left: 50px;
}

.loginBtn button:hover{
	color: black;
}

@media (max-width:500px) {
	input{
		width: 300px;
		border-radius: 0;
		position: relative;
		left: 50px;	
	}
	.user-input-wrp .floating-label {
		position: absolute;
		pointer-events: none;
		top: 8px;
		left: 59px;
		transition: 0.2s ease all;
		opacity: 0.7;
	}
	.user-input-wrp input:focus ~ .floating-label,
	.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: -12px;
    padding: 2px;
    background-color: #fff;
	left: 59px;
	font-size: 13px;
	opacity: 1;
	}

	.floating-span{
	position: absolute;
	pointer-events: none;
	top: 10px;
	font-size: 12px;
	left: 210px;
	transition: 0.2s ease all;
    opacity: 0.7;
}

}