<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center py-5">
        <div class="col-12 text-center">
            <h3><small>LOGIN</small></h3>
            <p>Please enter your e-mail and password:</p>
        </div>  
            <form class="col-12" class="text-center" ngNativeValidate>

                <div class="form-group">
                    <div class="user-input-wrp">
                        <input type="text" class="form-control" required/>
                        <label class="floating-label">Email</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="user-input-wrp" style="width: 400px;">
                        <input type="text" class="form-control" required/>
                        <label class="floating-label">Password</label>
                        <span class="floating-span">Forgot password?</span>
                    </div>
                </div>

                <div>
                    <button class="submitBtn"  type="submit"  class="btn btn-secondary" style="width: 400px;">LOGIN</button>
                </div>
            </form>
    </div>
    <div class="text-center">
        <span>Don't have an account?</span><a routerLink='/registration-page'>Create one</a>
    </div>
</div>
