<footer class="bgColor">
    <div class="container">
        <div class="row py-3" >
            <div class="col-md-3 col-sm-6 ">
                <h6><b> Navigate</b></h6>
                <ul class="list-group">

                    <li class="list-group-item border-0"><a href="#!" style="text-decoration: none; color: black">The
                            Native Union Story</a></li>
                    <li class="list-group-item  border-0"><a href="#!"
                            style="text-decoration: none; color: black">Explore All Products</a></li>
                    <li class="list-group-item  border-0"><a href="#!"
                            style="text-decoration: none; color: black">Reviews &amp; Testimonials</a></li>
                    <li class="list-group-item  border-0"><a href="#!"
                            style="text-decoration: none; color: black">Journal</a></li>
                    <li class="list-group-item  border-0"><a href="#!"
                            style="text-decoration: none; color: black">Sitemap</a></li>

                </ul>
            </div>

            <div class="col-md-3 col-sm-6">
                <h6><b>Contact</b></h6>
                <ul class="list-group">

                    <li class="list-group-item border-0"><a href="#!" style="text-decoration: none; color: black">
                            Press</a></li>
                    <li class="list-group-item border-0"><a href="#!" style="text-decoration: none; color: black">
                            Corporate Gifts</a></li>
                    <li class="list-group-item border-0"><a href="#!" style="text-decoration: none; color: black"> Sales
                            Enquiries</a></li>
                    <li class="list-group-item border-0"><a href="#!" style="text-decoration: none; color: black">
                            Customer Service</a></li>
                    <li class="list-group-item border-0"><a href="#!" style="text-decoration: none; color: black">
                            Careers</a></li>

                </ul>
            </div>

            <div class="col-md-3 col-sm-6">
                <h6><b> Help</b></h6>
                <ul class="list-group">

                    <li class="list-group-item border-0"><a href="#!"
                            style="text-decoration: none; color: black">Shipping</a></li>
                    <li class="list-group-item border-0"><a href="#!"
                            style="text-decoration: none; color: black">Returns</a></li>
                    <li class="list-group-item border-0"><a href="#!" style="text-decoration: none; color: black">
                            Warranty</a></li>
                    <li class="list-group-item border-0"><a href="#!"
                            style="text-decoration: none; color: black">Product Registration</a></li>
                    <li class="list-group-item border-0"><a href="#!"
                            style="text-decoration: none; color: black">Product Documentation</a></li>
                    <li class="list-group-item border-0"><a href="#!" style="text-decoration: none; color: black">Our
                            Code of Conduct</a></li>

                </ul>
            </div>

            <!-- <div class="col-md-1 col-sm-6"></div> -->



            <div class="col-md-3 col-sm-6">
                <h6><b>JOIN OUR COMMUNITY</b></h6>
                <p>Subscribe to receive updates, access to exclusive deals, and more.</p>

                <input type="email" class="form-control" placeholder="Enter your email address" id="email">
                
                <br>
                <div class="loginBtn">
                    <div>
                        <button class="submitBtn" class="btn" type="submit">SUBSCRIBE</button>
                    </div>
                </div>


                <!-- <button type="button" class="btn btn-dark">SUBSCRIBE</button> -->


                <br>
                <p>

                    <a href="#!" class="btn btn-link btn-floating btn-lg text-dark" data-mdb-ripple-color="dark"><span
                            class="fab fa-instagram"></span></a>
                    <span><a href="#!" style="text-decoration: none; color: black"
                            class="btn btn-link btn-floating btn-lg text-dark" data-mdb-ripple-color="dark"><span
                                class="fab fa-facebook"></span></a></span>
                    <span><a href="#!" class="btn btn-link btn-floating btn-lg text-dark"
                            data-mdb-ripple-color="dark"><span class="fab fa-twitter"></span></a></span>
                    <span><a href="#!" style="text-decoration: none; color: black"
                            class="btn btn-link btn-floating btn-lg text-dark" data-mdb-ripple-color="dark"><span
                                class="fab fa-linkedin"></span></a></span>

                </p>
            </div>


        </div>
        <br>
        <br>


        <div class="row">
            <div class="col-md-8 col-sm-8">
                <a href="#!" style="text-decoration: none; color: black">© 2021 Native Union</a>– ALL RIGHTS RESERVED
                <span>|</span>
                <a href="#!" style="text-decoration: none; color: black">Terms of Use</a> <span>|</span>
                <a href="#!" style="text-decoration: none; color: black">Terms of Sale</a><span>|</span>
                <a href="#!" style="text-decoration: none; color: black">Privacy</a>
            </div>
        </div>

    </div>


</footer>