.loginBtn {
    display: inline-block;
    text-align: center;
	width: 200px;
    color: white;
    background: black; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, black 50%, white 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.loginBtn:hover {
    background-position: left;
	color: black;
}

.loginBtn button{
	color: #fff;
	width: 200px;
	left: 50px;
}

.loginBtn button:hover{
	color: black;
}