<div class="container">
    <div class="row py-5">
        <div class="col-md-8">
            <div>
                <a href="#" (click)="logoutFunc()"><small>LOGOUT</small></a>
            </div>
            <div class="py-5">
                <h2><small>MY ACCOUNT</small></h2>
                <div class="py-1">
                    <p><small>Welcome back,{{userDetails.firstName}}!</small></p>
                </div>
            </div>
            <div class="py-2">
                MY ORDERS
                <hr>
            </div>
            <div>
                <span><small>haven't placed any orders yet</small></span>
            </div>
            <div class="py-5">

            </div>
        </div>
        <div class="col-md-3 offset-md-1 py-5">
            <div class="py-5">
                <div class="py-3">

                </div>
            </div>
            <div class="py-5" style="top: 500px;">
                <small>NO ADDRESSES</small>
                <hr>
                <span><small>No addresses are currently saved</small></span>
            </div>
            <div class="loginBtn">
                <div>
                    <button class="submitBtn" class="btn" type="submit">MANAGE ADDRESSES</button>
                </div>
            </div>
        </div>
    </div>
</div>
