.component-title {
  max-height: 66px;
}
.product-color {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  li {
    width: 17px;
    height: 17px;
    margin: 7px;
    border: 1px solid #ccc;
    background-size: cover;
    cursor: pointer;
    &.active{
      border: 1px solid #000;
    }
  }
}
