<div class="d-flex">
  <!-- Start Side Bar Menu -->
  <div class="sidebar col-2 border p-3 pl-5">
    <!-- Start Nav Bar For  -->
    <app-aside-links></app-aside-links>
  </div>
  <!-- End Side Bar Menu -->
  <!-- Products Container -->
  <div *ngIf="productsList.length == 0" class="text-center w-100">
    <p>{{errorMessage}}</p>
    <a routerLink="/home-page" class="btn btn-dark">Back To Home Page</a>
  </div>
  <div *ngIf="productsList.length != 0" class="d-flex flex-wrap align-content-start">
    <div class="component-title col-12 py-2 text-center bg-white border">
      <h2>{{model}}</h2>
    </div>
    <div *ngFor="let product of productsList index as x" class="col-lg-4 col-md-6 col-sm-12 text-center">
      <a class="text-body text-decoration-none" routerLink="/product-details/{{product.productName}}">
        <img class="w-100" src="{{product.quantity[0].srcImage}}" alt="">
        <p>{{product.productName}}</p>
        <p>{{product.price | currency:'EGP':'code'}}</p>
      </a>
      <ul class="product-color">
        <li *ngFor="let color of product.quantity index as i" [ngStyle]="{'background-image': 'url(' + color.srcColor + ')'}" #productImg (click)="changeImage(productImg,i,x)">
        </li>
      </ul>
    </div>
  </div>
  <!-- End Products  -->
</div>
