<header class="pt-3">
  <div class="container">
    <!-- Start Search & Logo & Icons (Cart & SignIn) -->
    <div class="row">
      <!-- Start Search Section -->
      <div>
        <!-- Show Mobil Menu Button -->
        <button class="open-menu d-xl-none" (click)="openMenu()"><i class="fas fa-bars"></i></button>
        <!-- Search Form  -->
        <form class="search-form" [class.active]="searchMod">
          <input type="search" placeholder="SEARCH..." class="search" (focus)="openSearchBox()"
            [(ngModel)]="SearchValue" autocomplete="off" name="Search" (keyup)="search()">
          <button type="submit"><i class="fas fa-search"></i></button>
          <!-- result Search While Be Open Here -->
          <div class="search-box" [class.open]="searchMod" #searchBox>
            <div>
              <button (click)="closeSearchBox()">X</button>
            </div>
            <div *ngIf="SearchValue !== ''">
              <div
                class="border-bottom d-flex mb-5 mt-5 pt-5 text-capitalize justify-content-between"
              >
                <p>{{ productsSearch.length }} results</p>
                <a
                  [routerLink]="['/search', SearchValue]"
                  (click)="saveSearchData()"
                  >View all</a
                >
              </div>
              <div class="d-flex">
                <!-- Start Product Search Conatiner -->
                <div class="col-3" *ngFor="let product of productsSearch | slice: 0: 4">
                  <img src="{{product.image}}" alt="">
                  <h5>{{product.name}}</h5>
                  <p>{{product.price | currency :"EGP":"code"}}</p>
                </div>
                <!-- End Product Search Container -->
              </div>
            </div>
          </div>
          <!-- End Search Result -->
        </form>
      </div>
      <!-- End Search Section -->
      <div class="logo">
        <h2>
          <a routerLink="home-page" class="text-body text-decoration-none"
            >IPhonak union</a
          >
        </h2>
      </div>
      <div class="icons">
        <a routerLink="/profile-page"><i class="far fa-user-circle"></i></a>

        <a (click)="showCart(cart)"><i class="fas fa-shopping-bag"  ></i>
        <span class="items" style="position: relative;
        top: -16px;
        left: -8px;
        font-size: 14px;
        background-color: #222;
        border-radius: 50%;
        padding: 1px 2px;
        color: white;
        font-weight: 700;" >{{items}}</span>
        </a>
      </div>
    </div>
    <!-- End Search & Logo & Icons (Cart & SignIn) -->
    <div class="user-cart" #cart>
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h3>cart</h3>
          <span class="close" (click)="closeCart(cart)">X</span>
        </div>
        <div class="card-body" style="overflow: auto">
   <div *ngIf='items==0'>Cart Is Empty</div>
   <div *ngIf='items>0'>
    <div class="mb-5">
      <div *ngFor="let product of user![0]?.cart">
        <div class="row">
          <div class="col-5">
            <img [src]="product.image" class="w-100 rounded" />
          </div>
          <div class="col-7 d-flex flex-column">
            <small style="font-size: small">{{
              product.productName
            }}</small>
            <div class="price">
              <small>{{product.price}}</small>
            </div>
            <div class="border-gray">
              <div class="cart_item_text">
                <i
                  #add
                  class="fas fa-plus notFinished"
                  (click)="addQuantity(product.quantity, product, $event)"
                  style="font-size: smaller"
                ></i>
                {{ product.quantity }}
                <i
                  class="fas fa-window-minimize notFinished"
                  (click)="minQuantity(product.quantity, product, add)"
                  style="font-size: smaller"
                ></i>
              </div>
            </div>
            <div>
              <span
                (click)="deleteProductFromCart(product)"
                class="remove-btn"
                >Remove</span
              >
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="total-price mt-5 bg-white" style="position: fixed ; bottom: 0;">
      <h5>Total:      {{total}}</h5>

<div class="btn-container" (click)='navigateToCartPage()'>
<div class="btn from-left carousel-Btn" >view cart</div>
</div>
</div>
   </div>
        </div>
      </div>
    </div>
    <!-- End Cart Modal -->
    <!-- End Logo And Search Section -->
    <div class="row menu">
      <ul class="main-menu">
        <li>
          <a>Shop By Collection</a>
          <div class="submenu">
            <div>
              <h5><a routerLink='products/all-products'>Shop</a></h5>
              <ul>
                <li><a routerLink='products/all-products'>All Product</a></li>
                <li><a routerLink='products/new-releases'>New Releases</a></li>
                <li><a routerLink='products/best-sellers'>Best Sellers</a></li>
                <li><a routerLink="/products/bundles">Bundles</a></li>
                <li><a routerLink='products/last-chance-to-buy'>Last Chance To Buy</a></li>
              </ul>
              <h5><a routerLink="/types/Wireless Charging">Wireless Charging</a></h5>
              <ul>
                <li><a routerLink="/wireless/MULTI-DEVICE WIRELESS CHARGERS">Multi-Device Wireless Chargers</a></li>
                <li><a routerLink="/wireless/SINGLE-DEVICE WIRELESS CHARGERS">Single-Device Wireless Chargers</a></li>
                <li><a routerLink="/wireless/PORTABLE WIRELESS CHARGERS">Portable Wireless Chargers</a></li>
              </ul>
            </div>
            <div>
              <h5><a>Protect & Carry</a></h5>
              <ul>
                <li><a routerLink="/categorys/IPhone/Cases">iPhone Cases</a></li>
                <li><a routerLink="/categorys/AirPods/Cases">AirPods Cases</a></li>
                <li><a routerLink="/categorys/iPad/Sleeves">iPad Sleeves</a></li>
                <li><a routerLink="/categorys/MacBook/Sleeves">MacBook Sleeves</a></li>
                <li><a routerLink="/categorys/Accessory/Organizers">Accessory Organizers</a></li>
                <li><a routerLink="/categorys/iPhone-Screen/Protector">iPhone Screen Protector</a></li>
                <li><a routerLink="/categorys/Apple-Watch/Straps">Apple Watch Straps</a></li>
              </ul>
            </div>
            <div>
              <h5><a routerLink="/types/Cables">Cables</a></h5>
              <ul>
                <li><a routerLink="/wireless/USB-A to Lightning">USB-A to Lightning</a></li>
                <li><a routerLink="/wireless/USB-C to Lightning">USB-C to Lightning</a></li>
                <li><a routerLink="/wireless/USB-A to USB-C">USB-A to USB-C</a></li>
                <li><a routerLink="/wireless/USB-C to USB-C">USB-C to USB-C</a></li>
                <li><a routerLink="/wireless/Universal Cable">Universal Cable</a></li>
                <li><a routerLink="/wireless/Apple Watch Cable">Apple Watch Cable</a></li>
                <li><a routerLink="/wireless/Audio & Video">Audio & Video</a></li>
              </ul>
            </div>
            <div>
              <h5><a routerLink="/types/Power Sources">Power Sources</a></h5>
              <ul>
                <li><a routerLink='/wireless/Wall Chargers'>Wall Chargers</a></li>
                  <li><a routerLink='/wireless/Power Banks'>Power Banks</a></li>
                  <li><a routerLink='/wireless/Car Chargers'>Car Chargers</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a>Shop By Device</a>
          <div class="submenu">
            <div>
              <h5><a routerLink="">iPhone</a></h5>
              <ul>
                <li><a routerLink="/model/IPhone 12 Min">iPhone 12 Mini</a></li>
                <li><a routerLink="/model/IPhone 12">iPhone 12</a></li>
                <li><a routerLink="/model/IPhone 12 Pro">iPhone 12 Pro</a></li>
                <li><a routerLink="/model/IPhone 12 Pro Max">iPhone 12 Pro Max</a></li>
                <li><a routerLink="/model/IPhone 11 Pro">iPhone 11 Pro</a></li>
                <li><a routerLink="/model/IPhone 11">iPhone 11</a></li>
                <li><a routerLink="/model/IPhone 12 Pro Max">iPhone 11 Pro Max</a></li>
              </ul>
            </div>
            <div>
              <h5><a>iPhone</a></h5>
              <ul>
                <li><a routerLink="/model/IPhone Xs">iPhone Xs</a></li>
                <li><a routerLink="/model/IPhone XR">iPhone XR</a></li>
                <li><a routerLink="/model/IPhone Xs Max">iPhone Xs Max</a></li>
                <li><a routerLink="/model/IPhone Xs Max">iPhone SE</a></li>
              </ul>
              <h5><a>AirPods</a></h5>
              <ul>
                <li><a routerLink="/model/AirPods Pro">AirPods Pro</a></li>
                <li><a routerLink="/model/AirPods Gen 1 &amp; 2">AirPods Gen 1 &amp; 2</a></li>
              </ul>
            </div>
            <div>
              <h5><a>MacBook</a></h5>
              <ul>
                <li><a routerLink='/model/12" MacBooks'>12" MacBooks</a></li>
                <li><a routerLink='/model/13" MacBooks'>13" MacBooks</a></li>
                <li><a routerLink='/model/15" MacBooks'>15" MacBooks</a></li>
                <li><a routerLink='/model/16" MacBooks'>16" MacBooks</a></li>
              </ul>
              <h5><a>Apple Watch</a></h5>
              <ul>
                <li><a routerLink='/model/Apple Watch (38mm / 40mm)'>Apple Watch (38mm / 40mm)</a></li>
                <li><a routerLink='/model/Apple Watch (42mm / 44mm)'>Apple Watch (42mm / 44mm)</a></li>
              </ul>
            </div>
            <div>
              <h5><a>iPad</a></h5>
              <ul>
                <li><a routerLink='/model/iPad Pro 11"'>iPad Pro 11"</a></li>
                <li><a routerLink='/model/iPad Pro 12.9"'>iPad Pro 12.9"</a></li>
                <li><a routerLink='/model/iPad Air (4th Gen)'>iPad Air (4th Gen)</a></li>
                <li><a routerLink='/model/iPad (7th &amp; 8th Gen)'>iPad (7th &amp; 8th Gen)</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- Start Mobil Nav Bar -->
    <nav class="menu-md mobil-menu" [class.animat]="screenMdActive">
      <button (click)="openMenu()">X</button>

      <div class="menu-container">
        <ul class="main-menu-md">
          <li>
            <div class="main-links-container navbar-toggle mb-3" data-toggle="collapse" data-target="#ShopByCollection"
              (click)="togglePLus(toggleBtn)">
              <a>Shop By Collection</a>
              <button class="toggle-button">
                <i #toggleBtn class="toggle-plus"></i>
              </button>
            </div>
            <div class="submenu collapse" id="ShopByCollection">
              <div>
                <div class="d-flex justify-content-between px-2 py-3" data-toggle="collapse" data-target="#all-products"
                  (click)="togglePLus(toggleBtn1)">
                  <h5><a>All Products</a></h5>
                  <button class="toggle-button">
                    <i #toggleBtn1 class="toggle-plus"></i>
                  </button>
                </div>
                <ul class="collapse " id="all-products">
                  <li><a routerLink='products/all-products'>All Product</a></li>
                  <li><a routerLink='products/new-releases'>New Releases</a></li>
                  <li><a routerLink='products/best-sellers'>Best Sellers</a></li>
                  <li><a routerLink="/products/bundles">Bundles</a></li>
                  <li><a routerLink='products/last-chance-to-buy'>Last Chance To Buy</a></li>
                </ul>
                <div class="d-flex justify-content-between px-2 py-3" data-toggle="collapse"
                  data-target="#WirelessCharging" (click)="togglePLus(toggleBtn3)">
                  <h5><a>Wireless Charging</a></h5>
                  <button class="toggle-button">
                    <i #toggleBtn3 class="toggle-plus"></i>
                  </button>
                </div>
                <ul class="collapse" id="WirelessCharging">
                  <li><a routerLink="/wireless/MULTI-DEVICE WIRELESS CHARGERS">Multi-Device Wireless Chargers</a></li>
                <li><a routerLink="/wireless/SINGLE-DEVICE WIRELESS CHARGERS">Single-Device Wireless Chargers</a></li>
                <li><a routerLink="/wireless/PORTABLE WIRELESS CHARGERS">Portable Wireless Chargers</a></li>
                </ul>
              </div>
              <div>
                <div class="d-flex justify-content-between px-2 py-3" data-toggle="collapse" data-target="#ProtectCarry"
                  (click)="togglePLus(toggleBtn4)">
                  <h5><a>Protect & Carry</a></h5>
                  <button class="toggle-button">
                    <i #toggleBtn4 class="toggle-plus"></i>
                  </button>
                </div>
                <ul class="collapse" id="ProtectCarry">
                  <li><a routerLink="/categorys/IPhone/Cases">iPhone Cases</a></li>
                <li><a routerLink="/categorys/AirPods/Cases">AirPods Cases</a></li>
                <li><a routerLink="/categorys/iPad/Sleeves">iPad Sleeves</a></li>
                <li><a routerLink="/categorys/MacBook/Sleeves">MacBook Sleeves</a></li>
                <li><a routerLink="/categorys/Accessory/Organizers">Accessory Organizers</a></li>
                <li><a routerLink="/categorys/iPhone-Screen/Protector">iPhone Screen Protector</a></li>
                <li><a routerLink="/categorys/Apple-Watch/Straps">Apple Watch Straps</a></li>
                </ul>
              </div>
              <div>
                <div class="d-flex justify-content-between px-2 py-3" data-toggle="collapse" data-target="#cables"
                  (click)="togglePLus(toggleBtn5)">
                  <h5><a>Cables</a></h5>
                  <button class="toggle-button">
                    <i #toggleBtn5 class="toggle-plus"></i>
                  </button>
                </div>
                <ul class="collapse" id="cables">
                  <li><a routerLink="/wireless/USB-A to Lightning">USB-A to Lightning</a></li>
                <li><a routerLink="/wireless/USB-C to Lightning">USB-C to Lightning</a></li>
                <li><a routerLink="/wireless/USB-A to USB-C">USB-A to USB-C</a></li>
                <li><a routerLink="/wireless/USB-C to USB-C">USB-C to USB-C</a></li>
                <li><a routerLink="/wireless/Universal Cable">Universal Cable</a></li>
                <li><a routerLink="/wireless/Apple Watch Cable">Apple Watch Cable</a></li>
                <li><a routerLink="/wireless/Audio & Video">Audio & Video</a></li>
                </ul>
              </div>
              <div>
                <div class="d-flex justify-content-between px-2 py-3" data-toggle="collapse" data-target="#powerSources"
                  (click)="togglePLus(toggleBtn6)">
                  <h5><a>Power Sources</a></h5>
                  <button class="toggle-button">
                    <i #toggleBtn6 class="toggle-plus"></i>
                  </button>
                </div>
                <ul class="collapse" id="powerSources">
                  <li><a routerLink='/types/Wall Chargers'>Wall Chargers</a></li>
                  <li><a routerLink='/types/Power Banks'>Power Banks</a></li>
                  <li><a routerLink='/types/Car Chargers'>Car Chargers</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="main-links-container my-3" data-toggle="collapse" data-target="#ShopBySevice"
              (click)="togglePLus(toggleBtn9)">
              <a>Shop By Device</a>
              <button class="toggle-button">
                <i #toggleBtn9 class="toggle-plus"></i>
              </button>
            </div>
            <div class="submenu collapse" id="ShopBySevice">
              <div>
                <div class="d-flex justify-content-between px-2 py-3" data-toggle="collapse" data-target="#iphone"
                  (click)="togglePLus(iphone)">
                  <h5><a>iPhone</a></h5>
                  <button class="toggle-button">
                    <i #iphone class="toggle-plus"></i>
                  </button>
                </div>
                <ul class="collapse" id="iphone">
                  <li><a routerLink="/model/IPhone 12 Min">iPhone 12 Mini</a></li>
                  <li><a routerLink="/model/IPhone 12">iPhone 12</a></li>
                  <li><a routerLink="/model/IPhone 12 Pro">iPhone 12 Pro</a></li>
                  <li><a routerLink="/model/IPhone 12 Pro Max">iPhone 12 Pro Max</a></li>
                  <li><a routerLink="/model/IPhone 11 Pro">iPhone 11 Pro</a></li>
                  <li><a routerLink="/model/IPhone 11">iPhone 11</a></li>
                  <li><a routerLink="/model/IPhone 12 Pro Max">iPhone 11 Pro Max</a></li>
                  <li><a routerLink="/model/IPhone Xs">iPhone Xs</a></li>
                  <li><a routerLink="/model/IPhone XR">iPhone XR</a></li>
                  <li><a routerLink="/model/IPhone Xs Max">iPhone Xs Max</a></li>
                  <li><a routerLink="/model/IPhone Xs Max">iPhone SE</a></li>
                </ul>
              </div>
              <div>
                <div class="d-flex justify-content-between px-2 py-3" data-toggle="collapse" data-target="#airPods"
                  (click)="togglePLus(airPods)">
                  <h5><a>AirPods</a></h5>
                  <button class="toggle-button">
                    <i #airPods class="toggle-plus"></i>
                  </button>
                </div>
                <ul class="collapse" id="airPods">
                  <li><a routerLink="/model/AirPods Pro">AirPods Pro</a></li>
                <li><a routerLink="/model/AirPods Gen 1 &amp; 2">AirPods Gen 1 &amp; 2</a></li>
                </ul>
              </div>
              <div>
                <div class="d-flex justify-content-between px-2 py-3" data-toggle="collapse" data-target="#macBook"
                  (click)="togglePLus(macBook)">
                  <h5><a>MacBook</a></h5>
                  <button class="toggle-button">
                    <i #macBook class="toggle-plus"></i>
                  </button>
                </div>
                <ul class="collapse" id="macBook">
                  <li><a routerLink='/model/12" MacBooks'>12" MacBooks</a></li>
                  <li><a routerLink='/model/13" MacBooks'>13" MacBooks</a></li>
                  <li><a routerLink='/model/15" MacBooks'>15" MacBooks</a></li>
                  <li><a routerLink='/model/16" MacBooks'>16" MacBooks</a></li>
                </ul>
                <div class="d-flex justify-content-between px-2 py-3" data-toggle="collapse" data-target="#appleWatch"
                  (click)="togglePLus(appleWatch)">
                  <h5><a>Apple Watch</a></h5>
                  <button class="toggle-button">
                    <i #appleWatch class="toggle-plus"></i>
                  </button>
                </div>
                <ul class="collapse" id="appleWatch">
                  <li><a routerLink='/model/Apple Watch (38mm / 40mm)'>Apple Watch (38mm / 40mm)</a></li>
                <li><a routerLink='/model/Apple Watch (42mm / 44mm)'>Apple Watch (42mm / 44mm)</a></li>
                </ul>
              </div>
              <div>
                <div class="d-flex justify-content-between px-2 py-3" data-toggle="collapse" data-target="#iPad"
                  (click)="togglePLus(iPad)">
                  <h5><a>iPad</a></h5>
                  <button class="toggle-button">
                    <i #iPad class="toggle-plus"></i>
                  </button>
                </div>
                <ul class="collapse" id="iPad">
                  <li><a routerLink='/model/iPad Pro 11"'>iPad Pro 11"</a></li>
                <li><a routerLink='/model/iPad Pro 12.9"'>iPad Pro 12.9"</a></li>
                <li><a routerLink='/model/iPad Air (4th Gen)'>iPad Air (4th Gen)</a></li>
                <li><a routerLink='/model/iPad (7th &amp; 8th Gen)'>iPad (7th &amp; 8th Gen)</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

        <div class="login-search">
          <p><a routerLink="/login">log in</a></p>
          <p><a (click)="openSearchBox()">search</a></p>
        </div>
      </div>
      <div class="links">
        <a><i class="fab fa-instagram"></i></a>
        <a><i class="fab fa-facebook-f"></i></a>
        <a><i class="fab fa-twitter"></i></a>
        <a><i class="fab fa-linkedin"></i></a>
      </div>
    </nav>
    <!-- End Mobil Nav Bar -->
  </div>
</header>
