<header class="pt-3">
  <div class="container">
    <div class="row">
      <div class="">
        <form class="search-form">
          <input type="search" placeholder="Search" class="search" (focus)="openSearchBox(searchBox)">
          <button type="submit"><i class="fas fa-search"></i></button>
          <div class="search-box" #searchBox>
            <input type="text" placeholder="SEARCH...">
            <button>X</button>
          </div>
        </form>
      </div>
      <div class="logo">
        <h2><a>IPhonak union</a></h2>
      </div>
      <div class="icons">
        <a><i class="far fa-user-circle"></i></a>
        <a><i class="fas fa-shopping-bag"></i></a>
      </div>
    </div>
    <div class="row menu">
      <ul class="main-menu">
        <li>
          <a>Shop By Collection</a>
          <div class="submenu">
            <div>
              <h5><a>Shop</a></h5>
              <ul>
                <li><a>All Product</a></li>
                <li><a>New Releases</a></li>
                <li><a>Last Chance To Buy</a></li>
              </ul>
              <h5><a>Wireless Charging</a></h5>
              <ul>
                <li><a>Multi-Device Wireless Chargers</a></li>
                <li><a>Single-Device Wireless Chargers</a></li>
                <li><a>Portable Wireless Chargers</a></li>
              </ul>
            </div>
            <div>
              <h5><a>Protect & Carry</a></h5>
              <ul>
                <li><a>iPhone Cases</a></li>
                <li><a>AirPods Cases</a></li>
                <li><a>iPad Sleeves</a></li>
                <li><a>MacBook Sleeves</a></li>
                <li><a>Accessory Organizers</a></li>
                <li><a>iPhone Screen Protector</a></li>
                <li><a>Apple Watch Straps</a></li>
              </ul>
            </div>
            <div>
              <h5><a>Cables</a></h5>
              <ul>
                <li><a>USB-A to Lightning</a></li>
                <li><a>USB-C to Lightning</a></li>
                <li><a>USB-A to USB-C</a></li>
                <li><a>USB-C to USB-C</a></li>
                <li><a>Universal Cable</a></li>
                <li><a>Apple Watch Cable</a></li>
                <li><a>Audio & Video</a></li>
                <li><a>Which Cable Do I Need?</a></li>
              </ul>
            </div>
            <div>
              <h5><a>Power Sources</a></h5>
              <ul>
                <li><a>Wall Chargers</a></li>
                <li><a>Power Banks</a></li>
                <li><a>Car Chargers</a></li>
              </ul>
              <h5><a>Hubs</a></h5>
              <ul>
                <li><a>USB-C Smart Hub</a></li>
              </ul>
            </div>
            <div>
              <h5><a>Speakers</a></h5>
              <ul>
                <li><a>PR/01 Speaker</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a>Shop By Device</a>
          <div class="submenu">
            <div>
              <h5><a>iPhone</a></h5>
              <ul>
                <li><a>iPhone 12 Mini</a></li>
                <li><a>iPhone 12</a></li>
                <li><a>iPhone 12 Pro</a></li>
                <li><a>iPhone 12 Pro Max</a></li>
                <li><a>iPhone 11 Pro</a></li>
                <li><a>iPhone 11</a></li>
                <li><a>iPhone 11 Pro Max</a></li>
              </ul>
            </div>
            <div>
              <h5><a>iPhone</a></h5>
              <ul>
                <li><a>iPhone Xs</a></li>
                <li><a>iPhone XR</a></li>
                <li><a>iPhone Xs Max</a></li>
                <li><a>iPhone SE</a></li>
              </ul>
              <h5><a>AirPods</a></h5>
              <ul>
                <li><a>AirPods Pro</a></li>
                <li><a>AirPods Gen 1 &amp; 2</a></li>
              </ul>
            </div>
            <div>
              <h5><a>MacBook</a></h5>
              <ul>
                <li><a>12" MacBooks</a></li>
                <li><a>13" MacBooks</a></li>
                <li><a>15" MacBooks</a></li>
                <li><a>16" MacBooks</a></li>
              </ul>
              <h5><a>Apple Watch</a></h5>
              <ul>
                <li><a>Apple Watch (38mm / 40mm)</a></li>
                <li><a>Apple Watch (42mm / 44mm)</a></li>
              </ul>
            </div>
            <div>
              <h5><a>iPad</a></h5>
              <ul>
                <li><a>iPad Pro 11"</a></li>
                <li><a>iPad Pro 12.9"</a></li>
                <li><a>iPad Air (4th Gen)</a></li>
                <li><a>iPad (7th &amp; 8th Gen)</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a>Explore</a>
          <div class="submenu">
            <div>
              <h5><a>Collections</a></h5>
              <ul>
                <li><a>The Heritage Collection</a></li>
                <li><a>Sage Collection</a></li>
                <li><a>Classic Leather Collection</a></li>
                <li><a>PD Charging Collection</a></li>
                <li><a>Work from Home</a></li>
              </ul>
            </div>
            <div>
              <h5><a>Collaborations</a></h5>
              <ul>
                <li><a>Maison Kitsuné x Native Union</a></li>
                <li><a>Tom Dixon x Native Union</a></li>
                <li><a>La Boite Concept x Native Union</a></li>
              </ul>
            </div>
            <div>
              <h5><a>Journal</a></h5>
              <ul>
                <li><a>Discover Our Journal</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
