
<div class="owl-container">
  <owl-carousel-o #owl  [options]="customOptions">
    <ng-container *ngFor="let slide of products" >
      <ng-template carouselSlide >
     <a  [routerLink]="['/product-details/',slide.productName]" (click)='gotTopPage()'   >   <img  [srcset]="slide.images[0]"  class="d-block"  style="cursor: grab;"></a>

            <h5 class="carousel-title">{{slide.productName}}</h5>
          <h4 class="">{{slide.price |currency:'EGP'}}</h4>


      </ng-template>

    </ng-container>
  </owl-carousel-o>
  <span (click)='goPrev(owl)'class="prev shadow"><i class="fas fa-chevron-left"></i></span>
  <span (click)='goNext(owl)'class="next shadow"><i class="fas fa-chevron-right"></i></span>
