<nav>
  <ul>
    <h4>shop by collection</h4>
    <li class="my-2">
      <div class="d-flex justify-content-between pl-1 menu-header" (click)="togglePLus(shop)" data-toggle="collapse" data-target="#shop">
        <span class="text">shop</span>
        <span class="icon" #shop>
          (<i class="fas fa-plus"></i>)
        </span>
      </div>
      <ul class="collapse pl-2" id="shop">
        <li>
          <a routerLink="/products/all-products"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Product</a>
        </li>
        <li>
          <a routerLink="/products/best-sellers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Best Sellers</a>
        </li>
        <li>
          <a routerLink="/products/new-releases" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">New Releases</a>
        </li>
        <li>
          <a routerLink="/products/bundles" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Bundles</a>
        </li>
        <li>
          <a routerLink='/products/last-chance-to-buy' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Last Chance To Buy</a>
        </li>

      </ul>
    </li>
    <li class="my-2">
      <div class="d-flex justify-content-between pl-1 menu-header" (click)="togglePLus(wireless)" data-toggle="collapse" data-target="#wirelessCharging">
        <span class="text">Wireless Charging</span>
        <span class="icon" #wireless>
          (<i class="fas fa-plus"></i>)
        </span>
      </div>
      <ul class="collapse pl-2" id="wirelessCharging">
        <li>
          <a routerLink="/wireless/MULTI-DEVICE WIRELESS CHARGERS" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Multi-Device Wireless Chargers</a>
        </li>
        <li>
          <a routerLink="/wireless/SINGLE-DEVICE WIRELESS CHARGERS" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Single-Device Wireless Chargers</a>
        </li>
        <li >
          <a routerLink="/wireless/PORTABLE WIRELESS CHARGERS" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Portable Wireless Chargers</a>
        </li>
        <li>
          <a routerLink="/types/Wireless Charging" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Wireless Chargers</a>
        </li>
      </ul>
    </li>
    <li class="my-2">
      <div class="d-flex justify-content-between pl-1 menu-header" (click)="togglePLus(protectCarry)" data-toggle="collapse" data-target="#protectCarry">
        <span class="text">Protect & Carry</span>
        <span class="icon" #protectCarry>
          (<i class="fas fa-plus"></i>)
        </span>
      </div>
      <ul class="collapse pl-2" id="protectCarry">
        <li>
          <a routerLink="/categorys/IPhone/Cases" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">iPhone Cases</a>
        </li>
        <li>
          <a routerLink="/categorys/AirPods/Cases" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">AirPods Cases</a>
        </li>
        <li>
          <a routerLink="/categorys/iPad/Sleeves" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">iPad Sleeves</a>
        </li>
        <li>
          <a routerLink="/categorys/MacBook/Sleeves" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">MacBook Sleeves</a>
        </li>
        <li>
          <a routerLink="/categorys/Accessory/Organizers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accessory Organizers</a>
        </li>
        <li>
          <a routerLink="/categorys/iPhone-Screen/Protector" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">iPhone Screen Protector</a>
        </li>
        <li>
          <a routerLink="/categorys/Apple-Watch/Straps" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Apple Watch Straps</a>
        </li>
      </ul>
    </li>
    <li class="my-2">
      <div class="d-flex justify-content-between pl-1 menu-header" (click)="togglePLus(cables)" data-toggle="collapse" data-target="#cables">
        <span class="text">Cables</span>
        <span class="icon" #cables>
          (<i class="fas fa-plus"></i>)
        </span>
      </div>
      <ul class="collapse pl-2" id="cables">
        <li><a routerLink="/wireless/USB-A to Lightning" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">USB-A to Lightning</a></li>
        <li><a routerLink="/wireless/USB-C to Lightning" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">USB-C to Lightning</a></li>
        <li><a routerLink="/wireless/USB-A to USB-C" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">USB-A to USB-C</a></li>
        <li><a routerLink="/wireless/USB-C to USB-C" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">USB-C to USB-C</a></li>
        <li><a routerLink="/wireless/Universal Cable" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Universal Cable</a></li>
        <li><a routerLink="/wireless/Apple Watch Cable" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Apple Watch Cable</a></li>
        <li><a routerLink="/wireless/Audio & Video" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Audio & Video</a></li>
        <li><a routerLink="/types/Cables" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Cables</a></li>
      </ul>
    </li>
    <li class="my-2">
      <div class="d-flex justify-content-between pl-1 menu-header" (click)="togglePLus(PowerSources)" data-toggle="collapse" data-target="#PowerSources">
        <span class="text">Power Sources</span>
        <span class="icon" #PowerSources>
          (<i class="fas fa-plus"></i>)
        </span>
      </div>
      <ul class="collapse pl-2" id="PowerSources">
        <li><a routerLink='/wireless/Wall Chargers' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Wall Chargers</a></li>
        <li><a routerLink='/wireless/Power Banks' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Power Banks</a></li>
        <li><a routerLink='/wireless/Car Chargers' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Car Chargers</a></li>
      </ul>
    </li>
  </ul>
  <ul class="mt-5">
    <h4>Shop By Device</h4>
    <li class="my-2" *ngFor="let category of productsCategory index as c">
      <div class="d-flex justify-content-between pl-1 menu-header" (click)="togglePLus(iconContainer)" data-toggle="collapse" attr.data-target="#{{category.name|lowercase|replace}}">
        <span class="text">{{category.name}}</span>
        <span class="icon" #iconContainer>(<i class="fas fa-plus"></i>)</span>
        </div>
      <ul class="collapse pl-2" attr.id="{{category.name|lowercase|replace}}">
        <li class="" *ngFor="let model of category.model">
          <div class="d-flex justify-content-between pl-1 menu-header" (click)="togglePLus(childIcon)" data-toggle="collapse" attr.data-target="#{{model.modelName|lowercase|replace}}">
            <span class="text">{{model.modelName}}</span>
            <span class="icon" #childIcon>(<i class="fas fa-plus"></i>)</span>
          </div>
          <ul class="collapse pl-2" #LinkContainer attr.id="{{model.modelName|lowercase|replace}}">
            <li *ngFor="let type of model.type index as t" >
              <a [routerLink]="['/collection',model.modelName,type]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{type}} </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <ul>

  </ul>
</nav>
